body {
    background-color: #0e2f44;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%;
}

th {
    width: 16.6%;
}

#header {
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}

#table-header {
    background-color: #071722;
}

#pGuess {
    width: 75%;
    height: 2.5em;
    font-size: 10px;
}

#btnGuess {
    width: 20%;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #071722;
    border: none;
    height: 2.5em;
    border-radius: 0;
}

.content {
    margin: auto;
    width: 50%;
}

.center {
    margin: auto;
    text-align: center;
}

.sm-icon {
    max-width: 50px;
    display: inline-block;
    border-radius: 50%;
}

.sm-icon-noguess {
    border: 5px solid #071722;
    margin: 10px;
}

.answer-row {
    width: 16.6%;
}

.answer-row td div {
    background-image: linear-gradient(180deg, rgba(110, 130, 142, 1), rgba(110, 130, 142, 0));
    min-height: 2em;
}
